.places h1{
    font-size: 30px;
    margin-bottom: 0;
}


.article-row{
    display: flex;
    justify-content: center;
}

.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
}

.places article h2{
    margin: 0;
    font-size: 30px;
    text-align: center;
}
